<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists use are:

1. Matplotlib
2. TensorFlow
3. Apache Spark

|Serial No.|Data Science Tools|
|----------|------------------|
| 1. | Apache Hadoop |
| 2. | Apache Spark |
| 3. | Apache Flink|

### Below are few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
h=200/60

**Objectives:**

List of popular languages for Data Science

- Python
- R
- Scala
- SQL
- Julia

## Author

Ishika Majumdar